@(stations: List[(Long, Option[Station], List[Measurement], String)])

@main("floodTweet") {
    <h2>Stations monitored</h2>
    <table class="table table-striped table-bordered">
        @stations.map{ s =>
            <tr>
                <td class="station">@s._2.map(_.name).getOrElse("Not yet retrieved")</td>
                <td class="message">@s._4</td>
                <td class="actions">
                    <form action="/deleteTarget" method="get">
                        <input type="hidden" name="stationId" value="@s._1"/>
                        <input type="submit" class="btn btn-danger btn-small" value="Stop monitoring @s._1"/>
                    </form>
                </td>
            </tr>
        }
    </table>

    <form action="/addTarget" method="get">
        <label for="stationId">Add new station to monitor with ID:</label>
        <input id="stationId" name="stationId" type="text" required />
        <input type="submit" class="btn btn-success" value="Add station"/>
    </form>

    <!--suppress HtmlUnknownTarget -->
    <form action="/trigger" method="post">
        <input type="submit" class="btn btn-primary" value="Check all stations now"/>
    </form>
}
